<div class="pb-8 pb-lg-10">
  <h2 class="fw-bolder text-dark">Your Are Done!</h2>
  <div class="text-gray-400 fw-bold fs-6">
    You have successfully completed and end-to-end data upload with the DMS platform.
  </div>
</div>
<div class="mb-0">
  <div class="
      notice
      d-flex
      bg-light-warning
      rounded
      border-warning border border-dashed
      p-6
    ">
    <span class="svg-icon svg-icon-2tx svg-icon-warning me-4"></span>
    <div class="d-flex flex-stack flex-grow-1">
      <div class="fw-bold">
        <h4 class="text-gray-800 fw-bolder">Data Management System!</h4>
        <div class="fs-6 text-gray-600">
          You can now verify the Import in the DMS plaform.
          <a class="fw-bolder cursor-pointer" (click)="gotoDMSPortal()"> Goto Portal </a>
        </div>
      </div>
    </div>
  </div>
</div>
