<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark">Study Details</h2>
  <div class="text-gray-400 fw-bold fs-6">
    Check if everything is good?
  </div>
</div>
<div class="fv-row mb-10">
  <label class="fs-6 fw-bold form-label ">Study Identifier: </label><span>{{ defaultValues.studyId
    }} </span>
  <br>
  <label class="fs-6 fw-bold form-label ">Description:</label><span> {{ defaultValues.description }}
  </span>
  <br>
  <label class="fs-6 fw-bold form-label ">Name:</label><span> {{ defaultValues.name }} </span>
  <br>
  <label class="fs-6 fw-bold form-label ">Organization :</label><span>{{ defaultValues.organization }}
  </span>
  <br>

</div>
