{"swagger":"2.0","info":{"description":"Ego API Documentation","version":"4.4.0","title":"Ego Service API","contact":{},"license":{"name":"GNU Affero General Public License v3.0"}},"host":"dms.thakhutse.co.za:443","basePath":"/ego-api","tags":[{"name":"Api Keys","description":"Api Key Controller"},{"name":"Applications","description":"Application Controller"},{"name":"Auth","description":"Auth Controller"},{"name":"Groups","description":"Group Controller"},{"name":"Policies","description":"Policy Controller"},{"name":"Transactions","description":"Transaction Controller"},{"name":"Users","description":"User Controller"}],"consumes":["application/json"],"produces":["application/json"],"paths":{"/applications":{"get":{"tags":["Applications"],"summary":"listApplications","operationId":"listApplicationsUsingGET","parameters":[{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Applications","schema":{"$ref":"#/definitions/PageDTO«Application»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Applications"],"summary":"createApplication","operationId":"createApplicationUsingPOST","parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateApplicationRequest"}}],"responses":{"200":{"description":"New Application","schema":{"$ref":"#/definitions/Application"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/applications/{id}":{"get":{"tags":["Applications"],"summary":"getApplication","operationId":"getApplicationUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Application Details","schema":{"$ref":"#/definitions/Application"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"put":{"tags":["Applications"],"summary":"updateApplication","operationId":"updateApplicationUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"updateRequest","description":"updateRequest","required":true,"schema":{"$ref":"#/definitions/UpdateApplicationRequest"}}],"responses":{"200":{"description":"Updated application info","schema":{"$ref":"#/definitions/Application"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Applications"],"summary":"deleteApplication","operationId":"deleteApplicationUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/applications/{id}/groups":{"get":{"tags":["Applications"],"summary":"getGroupsForApplication","operationId":"getGroupsForApplicationUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Groups for an Application","schema":{"$ref":"#/definitions/PageDTO«Group»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/applications/{id}/groups/permissions":{"get":{"tags":["Applications"],"summary":"getResolvedPermissions","operationId":"getResolvedPermissionsUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Get effective permissions for an application with application and group permissions","schema":{"type":"array","items":{"$ref":"#/definitions/ResolvedPermissionResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/applications/{id}/permissions":{"get":{"tags":["Applications"],"summary":"getPermissionsForApplication","operationId":"getPermissionsForApplicationUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Permissions for an Application","schema":{"$ref":"#/definitions/PageDTO«ApplicationPermission»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Applications"],"summary":"addPermissions","operationId":"addPermissionsUsingPOST","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"permissions","description":"permissions","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PermissionRequest"}}}],"responses":{"200":{"description":"Add application permissions","schema":{"$ref":"#/definitions/Application"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/applications/{id}/permissions/{permissionIds}":{"delete":{"tags":["Applications"],"summary":"deletePermissions","operationId":"deletePermissionsUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"permissionIds","in":"path","description":"permissionIds","required":true,"type":"string"}],"responses":{"200":{"description":"Delete application permissions"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/applications/{id}/users":{"get":{"tags":["Applications"],"summary":"getUsersForApplication","operationId":"getUsersForApplicationUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Users for an Application","schema":{"$ref":"#/definitions/PageDTO«User»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups":{"get":{"tags":["Groups"],"summary":"listGroups","operationId":"listGroupsUsingGET","parameters":[{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Groups","schema":{"$ref":"#/definitions/PageDTO«Group»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Groups"],"summary":"createGroup","operationId":"createGroupUsingPOST","parameters":[{"in":"body","name":"createRequest","description":"createRequest","required":true,"schema":{"$ref":"#/definitions/GroupRequest"}}],"responses":{"200":{"description":"New Group","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}":{"get":{"tags":["Groups"],"summary":"getGroup","operationId":"getGroupUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Group Details","schema":{"$ref":"#/definitions/Group"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"put":{"tags":["Groups"],"summary":"updateGroup","operationId":"updateGroupUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"updateRequest","description":"updateRequest","required":true,"schema":{"$ref":"#/definitions/GroupRequest"}}],"responses":{"200":{"description":"Updated group info","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Groups"],"summary":"deleteGroup","operationId":"deleteGroupUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}/applications":{"get":{"tags":["Groups"],"summary":"getApplicationsForGroup","operationId":"getApplicationsForGroupUsingGET","parameters":[{"name":"id","in":"path","description":"Search for ids containing this text","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Applications for a Group","schema":{"$ref":"#/definitions/PageDTO«Application»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Groups"],"summary":"addApplicationsToGroup","operationId":"addApplicationsToGroupUsingPOST","parameters":[{"in":"body","name":"appIds","description":"appIds","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Add Apps to Group","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}/applications/{appIds}":{"delete":{"tags":["Groups"],"summary":"deleteApplicationsFromGroup","operationId":"deleteApplicationsFromGroupUsingDELETE","parameters":[{"name":"appIds","in":"path","description":"appIds","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Delete Apps from Group"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}/permissions":{"get":{"tags":["Groups"],"summary":"getGroupPermissionsForGroup","operationId":"getGroupPermissionsForGroupUsingGET","parameters":[{"name":"id","in":"path","description":"Search for ids containing this text","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page GroupPermissions for a Group","schema":{"$ref":"#/definitions/PageDTO«GroupPermission»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Groups"],"summary":"addPermissions","operationId":"addPermissionsUsingPOST_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"permissions","description":"permissions","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PermissionRequest"}}}],"responses":{"200":{"description":"Add group permissions","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}/permissions/{permissionIds}":{"delete":{"tags":["Groups"],"summary":"deletePermissions","operationId":"deletePermissionsUsingDELETE_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"permissionIds","in":"path","description":"permissionIds","required":true,"type":"string"}],"responses":{"200":{"description":"Delete group permissions"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}/users":{"get":{"tags":["Groups"],"summary":"getUsersForGroup","operationId":"getUsersForGroupUsingGET","parameters":[{"name":"id","in":"path","description":"Search for ids containing this text","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Users for a Group","schema":{"$ref":"#/definitions/PageDTO«User»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Groups"],"summary":"addUsersToGroup","operationId":"addUsersToGroupUsingPOST","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"userIds","description":"userIds","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Add Users to Group","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/groups/{id}/users/{userIds}":{"delete":{"tags":["Groups"],"summary":"deleteUsersFromGroup","operationId":"deleteUsersFromGroupUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"userIds","in":"path","description":"userIds","required":true,"type":"string"}],"responses":{"200":{"description":"Delete Users from Group"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/o/api_key":{"get":{"tags":["Api Keys"],"summary":"listApiKeys","operationId":"listApiKeysUsingGET","parameters":[{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"Query string compares to ApiKey's Name fields.","required":false,"type":"string","allowEmptyValue":false},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"},{"name":"user_id","in":"query","description":"user_id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Page ApiKeys for a User","schema":{"$ref":"#/definitions/PageDTO«ApiKeyResponse»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Api Keys"],"summary":"issueApiKey","operationId":"issueApiKeyUsingPOST","parameters":[{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"scopes","in":"query","description":"scopes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"user_id","in":"query","description":"user_id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiKeyResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Api Keys"],"summary":"revokeApiKey","operationId":"revokeApiKeyUsingDELETE","parameters":[{"name":"apiKey","in":"query","description":"apiKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/o/check_api_key":{"post":{"tags":["Api Keys"],"summary":"checkApiKey","operationId":"checkApiKeyUsingPOST","produces":["application/json","application/json;charset=UTF-8"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"apiKey","in":"query","description":"apiKey","required":true,"type":"string"}],"responses":{"201":{"description":"Created"},"207":{"description":"Multi-Status","schema":{"$ref":"#/definitions/ApiKeyScopeResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/o/check_token":{"post":{"tags":["Api Keys"],"summary":"checkToken","operationId":"checkTokenUsingPOST","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"201":{"description":"Created"},"207":{"description":"Multi-Status","schema":{"$ref":"#/definitions/ApiKeyScopeResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/o/scopes":{"get":{"tags":["Api Keys"],"summary":"getUserScope","operationId":"getUserScopeUsingGET","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserScopesResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/o/token":{"get":{"tags":["Api Keys"],"summary":"listTokens","operationId":"listTokensUsingGET","parameters":[{"name":"user_id","in":"query","description":"user_id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TokenResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":true},"post":{"tags":["Api Keys"],"summary":"issueToken","operationId":"issueTokenUsingPOST","parameters":[{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"scopes","in":"query","description":"scopes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"user_id","in":"query","description":"user_id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":true},"delete":{"tags":["Api Keys"],"summary":"revokeToken","operationId":"revokeTokenUsingDELETE","parameters":[{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":true}},"/oauth/ego-token":{"get":{"tags":["Auth"],"summary":"user","operationId":"userUsingGET","parameters":[{"name":"OAuth2Request.approved","in":"query","required":false,"type":"boolean"},{"name":"OAuth2Request.authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.grantType","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.redirectUri","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.refresh","in":"query","required":false,"type":"boolean"},{"name":"OAuth2Request.refreshTokenRequest.grantType","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.resourceIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"OAuth2Request.responseTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"authenticated","in":"query","required":false,"type":"boolean"},{"name":"authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"clientOnly","in":"query","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"object"},{"name":"details","in":"query","required":false,"type":"object"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"principal","in":"query","required":false,"type":"object"},{"name":"userAuthentication.authenticated","in":"query","required":false,"type":"boolean"},{"name":"userAuthentication.authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"userAuthentication.credentials","in":"query","required":false,"type":"object"},{"name":"userAuthentication.details","in":"query","required":false,"type":"object"},{"name":"userAuthentication.principal","in":"query","required":false,"type":"object"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Auth"],"summary":"user","operationId":"userUsingPOST","parameters":[{"name":"OAuth2Request.approved","in":"query","required":false,"type":"boolean"},{"name":"OAuth2Request.authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.grantType","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.redirectUri","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.refresh","in":"query","required":false,"type":"boolean"},{"name":"OAuth2Request.refreshTokenRequest.grantType","in":"query","required":false,"type":"string"},{"name":"OAuth2Request.resourceIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"OAuth2Request.responseTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"authenticated","in":"query","required":false,"type":"boolean"},{"name":"authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"clientOnly","in":"query","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"object"},{"name":"details","in":"query","required":false,"type":"object"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"principal","in":"query","required":false,"type":"object"},{"name":"userAuthentication.authenticated","in":"query","required":false,"type":"boolean"},{"name":"userAuthentication.authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"userAuthentication.credentials","in":"query","required":false,"type":"object"},{"name":"userAuthentication.details","in":"query","required":false,"type":"object"},{"name":"userAuthentication.principal","in":"query","required":false,"type":"object"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/facebook/token":{"get":{"tags":["Auth"],"summary":"exchangeFacebookTokenForAuth","operationId":"exchangeFacebookTokenForAuthUsingGET","parameters":[{"name":"token","in":"header","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/google/token":{"get":{"tags":["Auth"],"summary":"exchangeGoogleTokenForAuth","operationId":"exchangeGoogleTokenForAuthUsingGET","parameters":[{"name":"token","in":"header","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/refresh":{"post":{"tags":["Auth"],"summary":"refreshEgoToken","operationId":"refreshEgoTokenUsingPOST","parameters":[{"in":"body","name":"refreshId","description":"refreshId","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Auth"],"summary":"deleteRefreshToken","operationId":"deleteRefreshTokenUsingDELETE","parameters":[{"in":"body","name":"refreshId","description":"refreshId","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/token":{"post":{"tags":["Auth"],"summary":"postAccessToken","operationId":"postAccessTokenUsingPOST","parameters":[{"name":"client_id","in":"query","required":true,"type":"string"},{"name":"client_secret","in":"query","required":true,"type":"string"},{"name":"grant_type","in":"query","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OAuth2AccessToken"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/token/public_key":{"get":{"tags":["Auth"],"summary":"getPublicKey","operationId":"getPublicKeyUsingGET","produces":["text/plain"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/token/verify":{"get":{"tags":["Auth"],"summary":"verifyJWToken","operationId":"verifyJWTokenUsingGET","parameters":[{"name":"token","in":"header","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/oauth/update-ego-token":{"get":{"tags":["Auth"],"summary":"updateEgoToken","operationId":"updateEgoTokenUsingGET","responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Auth"],"summary":"updateEgoToken","operationId":"updateEgoTokenUsingPOST","responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies":{"get":{"tags":["Policies"],"summary":"listPolicies","operationId":"listPoliciesUsingGET","parameters":[{"name":"id","in":"query","description":"Search for ids containing this text","required":false,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"name","in":"query","description":"Search for policies whose names contain this text","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Policies","schema":{"$ref":"#/definitions/PageDTO«Policy»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Policies"],"summary":"createPolicy","operationId":"createPolicyUsingPOST","parameters":[{"in":"body","name":"createRequest","description":"createRequest","required":true,"schema":{"$ref":"#/definitions/PolicyRequest"}}],"responses":{"200":{"description":"New Policy","schema":{"$ref":"#/definitions/Policy"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}":{"get":{"tags":["Policies"],"summary":"getPolicy","operationId":"getPolicyUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Get policy by id","schema":{"$ref":"#/definitions/Policy"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"put":{"tags":["Policies"],"summary":"updatePolicy","operationId":"updatePolicyUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"updatedRequst","description":"updatedRequst","required":true,"schema":{"$ref":"#/definitions/PolicyRequest"}}],"responses":{"200":{"description":"Updated Policy","schema":{"$ref":"#/definitions/Policy"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Policies"],"summary":"deletePolicy","operationId":"deletePolicyUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}/applications":{"get":{"tags":["Policies"],"summary":"findApplicationIds","operationId":"findApplicationIdsUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"Query string compares to AccessLevel and Application Id and Name fields.","required":false,"type":"string","allowEmptyValue":false},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC. Note: ascending sort order for the mask field is: READ,WRITE,DENY","required":false,"type":"string"}],"responses":{"200":{"description":"Get list of application ids with given policy id","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}/groups":{"get":{"tags":["Policies"],"summary":"findGroupIds","operationId":"findGroupIdsUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"Query string compares to AccessLevel and group Id and Name fields.","required":false,"type":"string","allowEmptyValue":false},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC. Note: ascending sort order for the mask field is: READ,WRITE,DENY","required":false,"type":"string"}],"responses":{"200":{"description":"Get list of group ids with given policy id","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}/permission/application/{application_id}":{"post":{"tags":["Policies"],"summary":"createApplicationPermission","operationId":"createApplicationPermissionUsingPOST","parameters":[{"name":"application_id","in":"path","description":"application_id","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"maskDTO","description":"maskDTO","required":true,"schema":{"$ref":"#/definitions/MaskDTO"}}],"responses":{"200":{"description":"Add application permission","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Policies"],"summary":"deleteApplicationPermission","operationId":"deleteApplicationPermissionUsingDELETE","parameters":[{"name":"application_id","in":"path","description":"application_id","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Delete application permission","schema":{"$ref":"#/definitions/GenericResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}/permission/group/{group_id}":{"post":{"tags":["Policies"],"summary":"createGroupPermission","operationId":"createGroupPermissionUsingPOST","parameters":[{"name":"group_id","in":"path","description":"group_id","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"maskDTO","description":"maskDTO","required":true,"schema":{"$ref":"#/definitions/MaskDTO"}}],"responses":{"200":{"description":"Add group permission","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Policies"],"summary":"deleteGroupPermission","operationId":"deleteGroupPermissionUsingDELETE","parameters":[{"name":"group_id","in":"path","description":"group_id","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Delete group permission","schema":{"$ref":"#/definitions/GenericResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}/permission/user/{user_id}":{"post":{"tags":["Policies"],"summary":"createUserPermission","operationId":"createUserPermissionUsingPOST","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"maskDTO","description":"maskDTO","required":true,"schema":{"$ref":"#/definitions/MaskDTO"}},{"name":"user_id","in":"path","description":"user_id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Add user permission","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Policies"],"summary":"deleteUserPermission","operationId":"deleteUserPermissionUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"user_id","in":"path","description":"user_id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Delete group permission","schema":{"$ref":"#/definitions/GenericResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/policies/{id}/users":{"get":{"tags":["Policies"],"summary":"findUserIds","operationId":"findUserIdsUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"Query string compares to AccessLevel and user Id field.","required":false,"type":"string","allowEmptyValue":false},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC. Note: ascending sort order for the mask field is: READ,WRITE,DENY","required":false,"type":"string"}],"responses":{"200":{"description":"Get list of user ids with given policy id","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/transaction/group_permissions":{"post":{"tags":["Transactions"],"summary":"createGroupPermissions","operationId":"createGroupPermissionsUsingPOST","parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"requests","description":"requests","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/TransactionalGroupPermissionRequest"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/transaction/mass_delete":{"post":{"tags":["Transactions"],"summary":"deleteGroupPermissions","operationId":"deleteGroupPermissionsUsingPOST","parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/TransactionalDeleteRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/users":{"get":{"tags":["Users"],"summary":"listUsers","operationId":"listUsersUsingGET","parameters":[{"name":"id","in":"query","description":"Search for ids containing this text","required":false,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"Query string compares to Users Email, First Name, and Last Name fields.","required":false,"type":"string","allowEmptyValue":false},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Users","schema":{"$ref":"#/definitions/PageDTO«User»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}":{"get":{"tags":["Users"],"summary":"getUser","operationId":"getUserUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"User Details","schema":{"$ref":"#/definitions/User"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"delete":{"tags":["Users"],"summary":"deleteUser","operationId":"deleteUserUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false},"patch":{"tags":["Users"],"summary":"updateUser","operationId":"updateUserUsingPATCH","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"updateUserRequest","description":"updateUserRequest","required":true,"schema":{"$ref":"#/definitions/UpdateUserRequest"}}],"responses":{"200":{"description":"Partially update using non-null user info","schema":{"$ref":"#/definitions/User"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/applications":{"get":{"tags":["Users"],"summary":"getApplicationsFromUser","operationId":"getApplicationsFromUserUsingGET","parameters":[{"name":"id","in":"path","description":"Search for ids containing this text","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Applications for a User","schema":{"$ref":"#/definitions/PageDTO«Application»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Users"],"summary":"addApplicationsToUser","operationId":"addApplicationsToUserUsingPOST","parameters":[{"in":"body","name":"applicationIds","description":"applicationIds","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Add Applications to User","schema":{"$ref":"#/definitions/User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/applications/{applicationIds}":{"delete":{"tags":["Users"],"summary":"deleteApplicationsFromUser","operationId":"deleteApplicationsFromUserUsingDELETE","parameters":[{"name":"applicationIds","in":"path","description":"applicationIds","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Delete Applications from User"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/groups":{"get":{"tags":["Users"],"summary":"getGroupsFromUser","operationId":"getGroupsFromUserUsingGET","parameters":[{"name":"id","in":"path","description":"Search for ids containing this text","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page Groups for a User","schema":{"$ref":"#/definitions/PageDTO«Group»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Users"],"summary":"addGroupsToUser","operationId":"addGroupsToUserUsingPOST","parameters":[{"in":"body","name":"groupIds","description":"groupIds","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Add Groups to user","schema":{"$ref":"#/definitions/User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/groups/permissions":{"get":{"tags":["Users"],"summary":"getResolvedPermissions","operationId":"getResolvedPermissionsUsingGET_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Get effective permissions for a user with user and group permissions","schema":{"type":"array","items":{"$ref":"#/definitions/ResolvedPermissionResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/groups/{groupIDs}":{"delete":{"tags":["Users"],"summary":"deleteGroupsFromUser","operationId":"deleteGroupsFromUserUsingDELETE","parameters":[{"name":"groupIDs","in":"path","description":"groupIDs","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Delete Groups from User"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/permissions":{"get":{"tags":["Users"],"summary":"getPermissions","operationId":"getPermissionsUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"Number of results to retrieve","required":false,"type":"string"},{"name":"offset","in":"query","description":"Index of first result to retrieve","required":false,"type":"string"},{"name":"sort","in":"query","description":"Field to sort on","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sorting order: ASC|DESC. Default order: DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Page User Permissions for a User","schema":{"$ref":"#/definitions/PageDTO«UserPermission»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false},"post":{"tags":["Users"],"summary":"addPermissions","operationId":"addPermissionsUsingPOST_2","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"permissions","description":"permissions","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PermissionRequest"}}}],"responses":{"200":{"description":"Add user permissions","schema":{"$ref":"#/definitions/User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}],"deprecated":false}},"/users/{id}/permissions/{permissionIds}":{"delete":{"tags":["Users"],"summary":"deletePermissions","operationId":"deletePermissionsUsingDELETE_2","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"name":"permissionIds","in":"path","description":"permissionIds","required":true,"type":"string"}],"responses":{"200":{"description":"Delete User permissions"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}],"deprecated":false}}},"securityDefinitions":{"Bearer":{"type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"ApiKeyResponse":{"type":"object","properties":{"description":{"type":"string"},"expiryDate":{"type":"string","format":"date-time"},"isRevoked":{"type":"boolean"},"issueDate":{"type":"string","format":"date-time"},"name":{"type":"string"},"scope":{"type":"array","items":{"type":"string"}}},"title":"ApiKeyResponse"},"ApiKeyScopeResponse":{"type":"object","properties":{"client_id":{"type":"string"},"exp":{"type":"integer","format":"int64"},"scope":{"type":"array","items":{"type":"string"}},"user_id":{"type":"string","format":"uuid"}},"title":"ApiKeyScopeResponse"},"Application":{"type":"object","properties":{"clientId":{"type":"string"},"clientSecret":{"type":"string"},"description":{"type":"string"},"errorRedirectUri":{"type":"string"},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"redirectUri":{"type":"string"},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]},"type":{"type":"string","enum":["CLIENT","ADMIN"]}},"title":"Application"},"ApplicationPermission":{"type":"object","properties":{"accessLevel":{"type":"string","enum":["READ","WRITE","DENY"]},"id":{"type":"string","format":"uuid"},"owner":{"$ref":"#/definitions/Application"},"policy":{"$ref":"#/definitions/Policy"}},"title":"ApplicationPermission"},"CreateApplicationRequest":{"type":"object","properties":{"clientId":{"type":"string"},"clientSecret":{"type":"string"},"description":{"type":"string"},"errorRedirectUri":{"type":"string"},"name":{"type":"string"},"redirectUri":{"type":"string"},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]},"type":{"type":"string","enum":["CLIENT","ADMIN"]}},"title":"CreateApplicationRequest"},"GenericResponse":{"type":"object","properties":{"message":{"type":"string"}},"title":"GenericResponse"},"Group":{"type":"object","properties":{"description":{"type":"string"},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]}},"title":"Group"},"GroupPermission":{"type":"object","properties":{"accessLevel":{"type":"string","enum":["READ","WRITE","DENY"]},"id":{"type":"string","format":"uuid"},"owner":{"$ref":"#/definitions/Group"},"policy":{"$ref":"#/definitions/Policy"}},"title":"GroupPermission"},"GroupRequest":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]}},"title":"GroupRequest"},"Identifiable":{"type":"object","properties":{"id":{"type":"object"}},"title":"Identifiable"},"MaskDTO":{"type":"object","properties":{"mask":{"type":"string","enum":["READ","WRITE","DENY"]}},"title":"MaskDTO"},"OAuth2AccessToken":{"type":"object","properties":{"additionalInformation":{"type":"object"},"expiration":{"type":"string","format":"date-time"},"expired":{"type":"boolean"},"expiresIn":{"type":"integer","format":"int32"},"refreshToken":{"$ref":"#/definitions/OAuth2RefreshToken"},"scope":{"type":"array","items":{"type":"string"}},"tokenType":{"type":"string"},"value":{"type":"string"}},"title":"OAuth2AccessToken"},"OAuth2RefreshToken":{"type":"object","properties":{"value":{"type":"string"}},"title":"OAuth2RefreshToken"},"PageDTO«ApiKeyResponse»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/ApiKeyResponse"}}},"title":"PageDTO«ApiKeyResponse»"},"PageDTO«ApplicationPermission»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/ApplicationPermission"}}},"title":"PageDTO«ApplicationPermission»"},"PageDTO«Application»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/Application"}}},"title":"PageDTO«Application»"},"PageDTO«GroupPermission»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/GroupPermission"}}},"title":"PageDTO«GroupPermission»"},"PageDTO«Group»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/Group"}}},"title":"PageDTO«Group»"},"PageDTO«PolicyResponse»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/PolicyResponse"}}},"title":"PageDTO«PolicyResponse»"},"PageDTO«Policy»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/Policy"}}},"title":"PageDTO«Policy»"},"PageDTO«UserPermission»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/UserPermission"}}},"title":"PageDTO«UserPermission»"},"PageDTO«User»":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"resultSet":{"type":"array","items":{"$ref":"#/definitions/User"}}},"title":"PageDTO«User»"},"PermissionRequest":{"type":"object","properties":{"mask":{"type":"string","enum":["READ","WRITE","DENY"]},"policyId":{"type":"string","format":"uuid"}},"title":"PermissionRequest"},"Policy":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}},"title":"Policy"},"PolicyRequest":{"type":"object","properties":{"name":{"type":"string"}},"title":"PolicyRequest"},"PolicyResponse":{"type":"object","properties":{"id":{"type":"string"},"mask":{"type":"string","enum":["READ","WRITE","DENY"]},"name":{"type":"string"}},"title":"PolicyResponse"},"ResolvedPermissionResponse":{"type":"object","properties":{"accessLevel":{"type":"string","enum":["READ","WRITE","DENY"]},"id":{"type":"string","format":"uuid"},"owner":{"$ref":"#/definitions/Identifiable"},"ownerType":{"type":"string"},"policy":{"$ref":"#/definitions/Policy"}},"title":"ResolvedPermissionResponse"},"TokenResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"description":{"type":"string"},"exp":{"type":"integer","format":"int64"},"scope":{"type":"array","items":{"type":"string"}}},"title":"TokenResponse"},"TransactionalDeleteRequest":{"type":"object","properties":{"groupNames":{"type":"array","items":{"type":"string"}},"policyNames":{"type":"array","items":{"type":"string"}}},"title":"TransactionalDeleteRequest"},"TransactionalGroupPermissionRequest":{"type":"object","properties":{"groupName":{"type":"string"},"mask":{"type":"string","enum":["READ","WRITE","DENY"]},"policyName":{"type":"string"}},"title":"TransactionalGroupPermissionRequest"},"UpdateApplicationRequest":{"type":"object","properties":{"clientId":{"type":"string"},"clientSecret":{"type":"string"},"description":{"type":"string"},"errorRedirectUri":{"type":"string"},"name":{"type":"string"},"redirectUri":{"type":"string"},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]},"type":{"type":"string","enum":["CLIENT","ADMIN"]}},"title":"UpdateApplicationRequest"},"UpdateUserRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"preferredLanguage":{"type":"string","enum":["ENGLISH","FRENCH","SPANISH"]},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]},"type":{"type":"string","enum":["USER","ADMIN"]}},"title":"UpdateUserRequest"},"User":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"email":{"type":"string"},"firstName":{"type":"string"},"groups":{"type":"array","items":{"type":"string"}},"id":{"type":"string","format":"uuid"},"lastLogin":{"type":"string","format":"date-time"},"lastName":{"type":"string"},"preferredLanguage":{"type":"string","enum":["ENGLISH","FRENCH","SPANISH"]},"providerSubjectId":{"type":"string"},"providerType":{"type":"string","enum":["GOOGLE","FACEBOOK","LINKEDIN","GITHUB","ORCID","KEYCLOAK"]},"status":{"type":"string","enum":["APPROVED","DISABLED","PENDING","REJECTED"]},"type":{"type":"string","enum":["USER","ADMIN"]}},"title":"User"},"UserPermission":{"type":"object","properties":{"accessLevel":{"type":"string","enum":["READ","WRITE","DENY"]},"id":{"type":"string","format":"uuid"},"owner":{"$ref":"#/definitions/User"},"policy":{"$ref":"#/definitions/Policy"}},"title":"UserPermission"},"UserScopesResponse":{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"string"}}},"title":"UserScopesResponse"}}}
