<mat-dialog-content class="mat-typography">
  <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid"
    id="kt_create_account_stepper">
    <div class="d-flex flex-row-fluid flex-center bg-white rounded">
      <form class="py-20 w-100 w-xl-700px px-9" noValidate id="kt_create_account_form">
        <div class="current">
          <ng-container>
            <div class="container afu-container">
              <h2 mat-dialog-title>Upload Analysis to Song</h2>
              <mat-dialog-content class="mat-typography">
                <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid"
                  id="kt_create_account_stepper">
                  <app-analysis-upload [config]="config" [jsonPayLoad]="jsonPayLoad" [studyId]="studyId" [resetUpload]=resetUpload
                    (fileSelected)="fileSelected($event)" (ApiResponse)="uploadResponse($event)">
                  </app-analysis-upload>
                </div>
              </mat-dialog-content>
            </div>
          </ng-container>
        </div>
        <div class="d-flex flex-stack pt-10">
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
