<!-- Dashboard -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span></a>
</div>

<!-- Layout builder -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/builder" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">Layout Builder</span></a>
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Crafted</span>
  </div>
</div>

<!-- Pages -->

<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/crafted/dms/studies" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com001.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">Study Manager</span></a>
</div>

<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/crafted/dms/songs" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">Songs Manager</span></a>
</div>

<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/crafted/dms/scores" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">Score Manager</span></a>
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>
